<%- include layouts/header.ejs %>

         <p><a href="/add" class="btn btn-success" onclick="return showModalDialog(this);">Nuevo cliente</a></p>

         <div class="table-responsive">
            <table class="table table-stripped table-bordered" id="clientes">
                <tr>
                    <th width="50px">ID</th>
                    <th>Nombre</th>
                    <th>CIF</th>
                    <th>Direcci&oacute;n</th>
                    <th>Email</th>
                    <th width="150px">Acci&oacute;n</th>
                </tr>
                <% if(data.length){ 
                 for(var i = 0;i < data.length;i++) { %>
                <tr data-id="<%=data[i].id%>">
                    <td class="data-id"><%=data[i].id%></td>
                    <td class="data-nombre"><%=data[i].nombre%></td>
                    <td class="data-cif"><%=data[i].cif%></td>
                    <td class="data-direccion"><%=data[i].direccion%></td>
                    <td class="data-email"><%=data[i].email%></td>
                    <td style="white-space: nowrap;">
                        <a href="/edit/<%=data[i].id%>" class="btn btn-primary" onclick="return showModalDialog(this);">Editar</a>
                        <a href="/delete/<%=data[i].id%>" class="btn btn-danger" onclick="return deleteClient(this);">Eliminar</a>
                    </td>
                </tr>
            <% }
             }else{ %>
                 <tr>
                    <td colspan="3">No existen usuarios</td>
                 </tr>
            <% } %>
            </table>
         </div>

<%- include layouts/footer.ejs %>
